body {
    background-image: url("../imgs/bgGridRepeat.png"), url("../imgs/bg1.png");
    background-color: turquoise;
    font-family: Verdana, Arial, sans-serif;
}

h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 7em;
    text-align: center;
    text-shadow: 2px 2px 10px #6529ad;
}

h2 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 2px 2px 10px #6529ad;
}

p {
    color: white;    
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    margin: 1em;
}

p2 {
    color: yellow;    
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: bolder;
    margin: 1em;
}

header {
    position: fixed;
    top: 13%;
    left: 25%;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 2px 2px 10px #6529ad;
    margin: 0 auto;
}

footer {
    position: fixed;
    color: white;
    font-size: 1.2em;
    font-weight: 800;
    top: 800px;
    left: 400px;
}

footer a {
    color: white;
}

footer a:hover {
    color:#AC6AFF;
}

nav {
    position: relative;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    z-index: 1;
}

nav img {
    width: 35px;
    height: 35px;
    margin: 1em;
}

.iconImg {
    color: white;
}

.iconImg:hover {
    cursor: default;
    transform: rotate(360deg);
    transition: 0.7s all ease-in-out 0s;
}

.bgImg1 {
    position: fixed;
    width: 6em;
    top: 15%;
    left: 85%;
    transform: rotate(-20deg);
}

.bgImg2 {
    position: fixed;
    width: 6em;
    top: 55%;
    left: 10%;
    transform: rotate(40deg);
}

.bgImg3 {
    position: fixed;
    width: 6em;
    top: 7%;
    left: 60%;
    transform: rotate(-20deg);
}

.bgImg4 {
    position: fixed;
    width: 6em;
    top: 65%;
    left: 81%;
    transform: rotate(40deg);
}

.bgImg5 {
    position: fixed;
    width: 6em;
    top: 6%;
    left: 16%;
    transform: rotate(-20deg);
}

.bgImg6 {
    position: fixed;
    width: 6em;
    top: 85%;
    left: 70%;
    transform: rotate(40deg);
}

.bgImg7 {
    position: fixed;
    width: 6em;
    top: 25%;
    left: 10%;
    transform: rotate(40deg);
}

.bgImg8 {
    position: fixed;
    width: 6em;
    top: 40%;
    left: 83%;
    transform: rotate(40deg);
}
.centerBox {
    width: 62.5em;
    height: 37.5em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 0.3em solid white;
    border-radius: 0.3em;
}

.titleText {
    position: fixed;
    top: 25%;
    left: 25%;
}

.centerText {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.iconBox {
    position: fixed;
    width: 20%;
    top: 30%;
    left: 55%;
}

.centerList {
    position: fixed;
    top: 50%;
    left: 30%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li {
    color: white;
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    float: left;   
}

ol {
    margin: 0;
    padding: 0;
}

ol li {
    color: rgb(255, 213, 123);
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 20px;
    text-shadow: 2px 2px 4px #AC6AFF;
}

.aboutMeText {
    width: 30%;
    position: fixed;
    top: 33%;
    left: 25%;
}

.eduTitle {
    width: 10%;
    position: fixed;
    top: 45%;
    left: 25%;
}

.eduText {
    position: fixed;
    top: 53%;
    left: 25%;    
}

.expTitle {
    width: 10%;
    position: fixed;
    top: 60%;
    left: 25%;
}

.expText {
    position: fixed;
    top: 68%;
    left: 25%;
}

.expText li {
    border: 0.2em solid white;
    margin: 1em;
}

#topList {
    position: fixed;
    top: 50%;
    left: 34%;
    
}

#topList li {
    border: 0.2em solid white; 
    margin: 1em;  
}

#bottomList {
    position: fixed;
    top: 63%;
    left: 35%;
}

#bottomList li {
    font-size: 1.3em;
    text-decoration: underline;
    text-underline-offset: 0.3em;
    margin: 1em;
}

#bottomList a {
    color: white;
}

#bottomList a:hover {
    color:#6529ad;
}

#shadow {
    box-shadow: 5px 5px 10px #AC6AFF;
}

.contactList {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.contactList li{
    font-size: 1.5em;
}

.contactList a {
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-shadow: 5px 5px #AC6AFF;
}

.contactList a:hover {
    color: #AC6AFF;
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-shadow: 5px 5px white;
}

.email {
    position: fixed;
    top: 170px;
    left: 50%;
    transform: translate(-50%,-50%);    
}

.email a{
    font-size: 1.3em;
}

.rectangle {
    margin: 1em;
    width: 15em;
    height: 10em;
    background-color: white;
    border-radius: 1em;
    box-shadow: 5px 5px 5px #AC6AFF;
}

.rectangle img{
    margin-top: 10%;
    margin-left: 10%;
    width: 12em;
    height: 7em;
    border-radius: 1em;
    float: none;
}

.rectangle2 {
    margin: 3em;
    width: 10em;
    height: 3em;
    background-color: #fff27d;  
    color: #AC6AFF;
    font-weight: bold;
    text-align: center;
    line-height: 3em;
}

.projImg {
    position: relative;
    width: 50%;
    top: 300px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.projImg2 {
    position: absolute;
    width: 50%;
    top: 570px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}